header {
  position: absolute;
  top: 20px;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 3rem;
  padding: 0px;
  margin: 0px 0px 0px 2rem;
}

h1 a {
  color: #db504a;
}

nav ul {
  list-style: none;
  margin-right: 2rem;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

li a {
  font-size: 1.2rem;
  font-weight: 400;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://res.cloudinary.com/du3oueesv/image/upload/v1680250265/oak-tree-site/l-intro-1657886086_aubklu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  header {
    left: 0.5rem;
    right: 0rem;
    gap: 2rem;
    width: 0px;
  }

  h1 {
    font-size: 5rem;
    margin-left: 0px;
  }

  nav ul {
    margin-right: 0rem;
  }

  nav li {
    margin-bottom: 0.5rem;
    margin-right: 0px;
  }

  .background-image::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
